<div class="hero bg-secondary">

  <div class="logo-horizontal">
    <div class="white"></div>
  </div>
  <div class="title">
    Soluções para o mercado de seguros
  </div>
  <div class="subtitle">
    Inspeções e perícias com excelência profissional desde 2007
  </div>
  <div class="buttons">
    <a class="bg-white text-secondary px-6 py-3 rounded-md font-medium text-center " href="/#sobre">Entre em contato</a>
    <a class="bg-secondary border-1 rounded-md text-white p-3 " href="/#contato">Conheça nossa empresa</a>
  </div>

</div>
